$font-family-sans-serif: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$linkColor:      rgba(0, 0, 0, 0.5);
$linkColorHover: rgba(0, 0, 0, 0.9);
$link-hover-color: rgba(0, 0, 0, 0.9);

$brand-primary:  rgba(0, 0, 0, 0.5);
$link-hover-color: rgba(0, 0, 0, 0.9);

$primary: $brand-primary;
